html {
    // height: 100%;
}
html, body {
    // overflow-x: hidden;
    // position: relative;
}
ul, ol {
    margin: 0 0 1em .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    // line-height: 1.6;
}