<template>
  <div class="farm-list-item">
    <div class="img-wrapper" :style="{ backgroundImage: `url('${farmImage}')`}" />
    <div class="farm-detail">
      <div class="title is-wrapped">
        {{ name }}
      </div>
      <div class="sub-title">
        {{ province || '-' }}
      </div>
      <div class="detail">
        <div class="item">
          <span class="title-item">ผลไม้ : </span>
          <span class="is-wrapped">{{ fruitType || '-' }}</span>
        </div>
        <div class="item">
          <span class="title-item">สายพันธุ์ : </span>
          <span class="is-wrapped">{{ fruitBreed || '-' }}</span>
        </div>
        <div class="item">
          <span class="title-item">พื้นที่ (ไร่) : </span>
          <span>{{ numArea | numberComma }} ไร่</span>
        </div>
        <div class="item">
          <span class="title-item">จำนวน (ต้น) : </span>
          <span>{{ numTree | numberComma }} ต้น</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FarmListItem',
  props: {
    name: String,
    farmImage: String,
    province: String,
    fruitType: String,
    fruitBreed: String,
    numArea: Number,
    numTree: Number
  }
}
</script>

<style lang="less" scoped>
.farm-list-item {
  background: white;
  padding: 15px;
  border: 1px solid rgba(158, 158, 158, 0.4);
  margin-top: 20px;
  .img-wrapper {
    border: 1px solid rgba(158, 158, 158, 0.4);
    height: 180px;
    background-color: #e7e7e7;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .farm-detail {
    margin-top: 10px;
    .title {
      color: #ff9300;
      font-size: 1.8rem;
    }
    .sub-title {
      font-size: 1.4rem;
      color: #424242;
    }
    .detail {
      margin-top: 10px;
      .item {
        color: #424242;
        font-size: 1.6rem;
        .title-item {
          font-weight: 500
        }
      }
    }
  }
}
</style>
