<template>
  <div id="auctionDate">
    <div class="row">
      <div class="column">
        <label class="title">วันที่เปิดประมูล</label>
        <a-form class="form">
          <a-form-item>
            <a-input class="custom-input" placeholder="เลือกวันที่เปิดประมูล" />
          </a-form-item>
        </a-form>
      </div>
      <div class="column">
        <p style="margin: 0 10px;">
          ~
        </p>
      </div>
      <div class="column">
        <label class="title">วันที่ปิดประมูล</label>
        <a-form class="form">
          <a-form-item>
            <a-input class="custom-input" placeholder="เลือกวันที่ปิดประมูล" />
          </a-form-item>
        </a-form>
      </div>
    </div>
    <div v-if="isFinish">
      <a-button class="oa-button is-primary">
        กลับไปที่หน้าหลัก
      </a-button>
    </div>
    <div v-else>
      <regist-section
        v-if="isRegist"
        @nextState="onNextState"
      />
      <confirm-section v-else />
    </div>
  </div>
</template>

<script>
import RegistSection from './regist-auction/regist-section.vue'
import ConfirmSection from './confirm-auction/confirm-section.vue'
export default {
  components: {
    RegistSection,
    ConfirmSection
  },
  props: {
    isRegist: Boolean,
    isFinish: Boolean
  },
  methods: {
    onNextState () {
      this.$emit('nextState')
    }
  }
}
</script>

<style lang="scss" scoped>
#auctionDate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 16px;
  font-weight: 500;
}
.next-button {
  background-color: #FFB300;
  border: none;
  color: #fff;
}
.note {
  font-size: 12px;
  font-weight: 400;
}
</style>
