<template>
  <div class="no-img dp-flex jtf-ct-center al-it-center">
    {{ label }}
  </div>
</template>

<script>
export default {
  name: 'BaseNoImg',
  props: {
    label: String
  }
}
</script>

<style scoped>
.no-img {
  height: 303px;
  min-width: 100%;
  max-width: 303px;
  border: 1px solid #EBEBEB;
}
</style>
