<template>
  <div id="registSection">
    <div class="row">
      <a-button
        class="next-button"
        size="large"
        @click="onNextState"
      >
        ทำการเปิดการประมูล
      </a-button>
    </div>
    <div class="row">
      <div class="column" style="margin-top: 20px;">
        <label class="note">* เมื่อทำการกด “ทำการเปิดประมูล” ระบบจะทำการส่งรหัส OTP ให้กับเบอร์มือถือที่ท่านลงทะเบียนไว้</label>
        <label class="note">* รหัส OTP ที่ได้รับ จะนำไปใช้สำหรับการยืนยันการเปิดประมูล</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    onNextState () {
      this.$emit('nextState')
    }
  }
}
</script>

<style lang="scss" scoped>
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 16px;
  font-weight: 500;
}
.next-button {
  background-color: #FFB300;
  border: none;
  color: #fff;
}
.note {
  font-size: 12px;
  font-weight: 400;
}
</style>
