<template>
  <div id="wizardSteps">
    <div class="steps">
      <div v-for="(step, index) in steps" :key="index" class="step">
        <div :class="`circle ${index === activeStepIndex ? 'active' : ''} ${index < activeStepIndex ? 'activated' : ''}`">
          <label>{{ index + 1 }}</label>
        </div>
        <label :class="`title ${index === activeStepIndex ? 'active' : ''} ${index < activeStepIndex ? 'activated' : ''}`">{{ step.title }}</label>
        <no-ssr><i v-if="index < steps.length - 1" class="custom-right-icon icon fa fa-angle-right" /></no-ssr>
      </div>
    </div>
    <hr>
  </div>
</template>

<script>
export default {
  props: {
    steps: Array,
    activeStepIndex: Number
  },
  mounted () {
  }
}
</script>

<style lang="scss" scoped>
$orange: #FF9300;
$blue: #0089FF;
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e1e1e1;
  margin: 1em 0;
  padding: 0;
}
.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    @media only screen and (max-width: 768px) {
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 5px;
      padding: 5px 0;
    }
    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      border-radius: 14px;
      background-color: #e1e1e1;
      margin-right: 10px;
      > label {
        font-weight: 500;
        color: #fff;
      }
      &.active {
        background-color: $orange;
      }
      &.activated {
        background-color: $blue;
      }
    }
    .title {
      font-size: 18px;
      font-weight: 500;
      color: #e1e1e1;
      &.active {
        color: $orange;
      }
      &.activated {
        color: $blue;
      }
    }
    .icon {
      margin: 0 20px;
      width: auto;
      height: 30px;
      color: #e1e1e1;
    }
    @media only screen and (max-width: 768px) {
     .custom-right-icon {
        display: none;
      }
    }
  }
}
</style>
